.shop-container {
    display: grid;
    grid-template-columns: 3.5fr 1.5fr;
    margin: 0 auto;
    width: 90%;
    background: linear-gradient(345deg, #ba70f33a, #c0242400, #e4171700, #ba70f338);
    border-radius: 35px;
    border: 7px solid #fff;
}
.shop-container h1{
    text-align: center;
}
.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
}
