.product{
    box-sizing: border-box;
    width: 300px;
    height: fit-content;
    background: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow:  3px 5px 15px 4px rgba(173, 173, 173, 0.582)
}
.product img{
    width: 65%;
    object-fit: cover;
}