.header-container{
    background: linear-gradient(345deg, #ba70f32f, #c554543a,#d85b5b2f,#ba70f321);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-bottom: 20px;
}
.header{
    margin: 0 auto;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo img{
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
}
.navigation a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 22px;
    color: #000;
    font-weight: 500;
}
.navigation a:hover{
    color: #E54652;
}