.header-container{
    background: linear-gradient(345deg, #ba70f32f, #c554543a,#d85b5b2f,#ba70f321);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    margin-bottom: 20px;
}
.header{
    margin: 0 auto;
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo img{
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
}
.logo .cart-icon{
    display: none;
}
.navigation a{
    text-decoration: none;
    margin-left: 15px;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.815);
    font-weight: 500;
}
.navigation a:hover{
    color: #E54652;
}

@media only screen and (max-width: 600px) {
    .header{
        display: grid;
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .logo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 10px;
    }
    .logo .cart-icon{
        display: block;
        font-size: 40px;
        color: #E54652;
    }
    
    .logo img {
        width: 50px;
    }
    .navigation{
        text-align: center;
    }
    .navigation a{
        font-size: 5vw;
    }
}

@media only screen and (min-width: 600px) {
    
}